<!DOCTYPE html>
<html>
<head>
	<title>Admin Dashboard</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_theatre.css') }}">
	<style>
		
	</style>
</head>
<body>
	<header>
		<div class="logo">Admin | {{uname}}</div>
		<div class="navbar">
			<a href="/addvenue">Add Venue</a>
			<a href="/addmovie">Add Movies</a>
			<a href="/logout"><button class="logout-btn">Logout</button></a>
		</div>
	</header>
	<div class="container">
		<div class="box">
			<h2>Venue Name</h2>
			<p>Address</p>
			<p>Place</p>
			<p>Capacity</p>
		</div>
		<div class="box">
			<h2>Venue Name</h2>
			<p>Address</p>
			<p>Place</p>
			<p>Capacity</p>
		</div>
		<div class="box">
			<h2>Venue Name</h2>
			<p>Address</p>
			<p>Place</p>
			<p>Capacity</p>
		</div>
	</div>
</body>
</html>
